# Project: B2B Saas Company Performance Analysis Data Generated

In [2]:
pip install pandas numpy faker

Requirement already satisfied: pandas in c:\users\rakib hasan\anaconda3\lib\site-packages (1.3.4)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\rakib hasan\anaconda3\lib\site-packages (1.20.3)
Requirement already satisfied: faker in c:\users\rakib hasan\anaconda3\lib\site-packages (25.3.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\rakib hasan\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rakib hasan\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\rakib hasan\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

# Import library

In [3]:
import numpy as np
import pandas as pd
from faker import Faker
import random
import warnings
warnings.filterwarnings('ignore')

In [4]:
fake=Faker()

## Data Collection:
For this Project I am Creating Fake Dataset using Python.

In [6]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

# Set the random seed for reproducibility
np.random.seed(42)

# Number of samples
num_samples = 3000

# Generate Website Data
website_data = {
    'website_id': range(1, num_samples + 1),  # Unique ID for each website entry
    'event_date': [datetime.now() - timedelta(days=random.randint(0, 30)) for _ in range(num_samples)],
    'session': [f'session_{i}' for i in range(1, num_samples + 1)],
    'event_name': random.choices(['page_view', 'sign_up', 'purchase', 'login', 'logout'], k=num_samples),
    'user_id': [f'user_{random.randint(1, 500)}' for _ in range(num_samples)],
    'page_location': [f'www.dataology.com/{random.choice(["home", "sign_up", "login", "dashboard", "product"])}' for _ in range(num_samples)],
    'website_visits': np.random.randint(1000, 10000, num_samples),
    'bounce_rate': np.random.uniform(0.1, 0.5, num_samples),
    'avg_session_duration': np.random.uniform(30, 300, num_samples),
    'unique_visitors': np.random.randint(500, 5000, num_samples),
    'conversion_rate': np.random.uniform(0.01, 0.2, num_samples),
    'page_views': np.random.randint(2000, 20000, num_samples),
    'traffic_source': random.choices(['Organic', 'Paid', 'Social', 'Direct'], k=num_samples),
    'device_category': random.choices(['Mobile', 'Desktop', 'Tablet'], k=num_samples),
    'geographic_region': random.choices(['North America', 'Europe', 'Asia'], k=num_samples),
    'conversion': np.random.randint(0, 100, num_samples)  # New conversion column
}

# Generate Marketing Data
marketing_data = {
    'campaign_id': range(1, num_samples + 1),  # Unique ID for each marketing campaign
    'campaign_name': [f'Campaign {i}' for i in range(1, num_samples + 1)],
    'ad_spend': np.random.randint(1000, 20000, num_samples),
    'leads_generated': np.random.randint(1, 500, num_samples),
    'click_through_rate': np.random.uniform(0.01, 0.15, num_samples),
    'impressions': np.random.randint(1000, 50000, num_samples),
    'source': random.choices(['Email', 'Social Media', 'Referral', 'Direct'], k=num_samples),
    'medium': random.choices(['CPC', 'Organic', 'Email', 'Social'], k=num_samples),
    'start_date': [datetime.now() - timedelta(days=random.randint(1, 30)) for _ in range(num_samples)],
    'end_date': [datetime.now() + timedelta(days=random.randint(1, 30)) for _ in range(num_samples)],
    'click': np.random.randint(0, 1000, num_samples)  # New click column
}

# Generate Sales Data
sales_data = {
    'sales_rep_id': range(1, num_samples + 1),  # Unique ID for each sales representative entry
    'sales_rep_name': [f'Rep {i}' for i in range(1, num_samples + 1)],
    'deals_closed': np.random.randint(0, 100, num_samples),
    'revenue_generated': np.random.uniform(5000, 500000, num_samples),  # in dollars
    'average_deal_size': np.random.uniform(500, 20000, num_samples),
    'sales_cycle_length': np.random.randint(5, 90, num_samples),  # in days
    'new_customers': np.random.randint(0, 50, num_samples),
    'churn_rate': np.random.uniform(0.0, 0.2, num_samples),
    'upsell_revenue': np.random.uniform(1000, 20000, num_samples),
    'customer_lifetime_value': np.random.uniform(1000, 100000, num_samples),
    'date': [datetime.now() - timedelta(days=random.randint(0, 365)) for _ in range(num_samples)]  # Random date within one year
}

# Generate Customer Satisfaction Data
customer_satisfaction_data = {
    'customer_id': range(1, num_samples + 1),  # Unique ID for each customer
    'satisfaction_score': np.random.randint(1, 11, num_samples),
    'net_promoter_score': np.random.randint(-100, 100, num_samples),
    'feedback': [f'Feedback {i}' for i in range(1, num_samples + 1)],
    'support_tickets': np.random.randint(0, 20, num_samples),
    'resolution_time': np.random.randint(1, 48, num_samples),  # in hours
    'repeat_purchase': random.choices(['Yes', 'No'], k=num_samples),
    'last_purchase_date': [datetime.now() - timedelta(days=np.random.randint(1, 365)) for _ in range(num_samples)],
    'customer_segment': random.choices(['Small Business', 'Mid-Market', 'Enterprise'], k=num_samples),
    'referral_source': random.choices(['Social Media', 'Word of Mouth', 'Email', 'Ads'], k=num_samples)
}

# Create DataFrames
website_df = pd.DataFrame(website_data)
marketing_df = pd.DataFrame(marketing_data)
sales_df = pd.DataFrame(sales_data)
customer_satisfaction_df = pd.DataFrame(customer_satisfaction_data)

In [8]:
website_df.head(5)

,website_id,event_date,session,event_name,user_id,page_location,website_visits,bounce_rate,avg_session_duration,unique_visitors,conversion_rate,page_views,traffic_source,device_category,geographic_region,conversion
0,1,2024-10-07 23:44:48.720001,session_1,page_view,user_431,www.dataology.com/sign_up,8270,0.123887,74.532187,1102,0.086519,16136,Direct,Mobile,Asia,92
1,2,2024-10-20 23:44:48.720001,session_2,sign_up,user_135,www.dataology.com/dashboard,1860,0.368657,63.646067,4795,0.075252,4599,Organic,Desktop,Asia,15
2,3,2024-10-13 23:44:48.720001,session_3,purchase,user_263,www.dataology.com/dashboard,6390,0.332884,128.792811,3133,0.086172,4235,Organic,Mobile,Asia,5
3,4,2024-10-15 23:44:48.720001,session_4,purchase,user_441,www.dataology.com/sign_up,6191,0.496084,91.936246,2291,0.154611,7473,Social,Mobile,North America,77
4,5,2024-10-02 23:44:48.720001,session_5,sign_up,user_372,www.dataology.com/dashboard,6734,0.195664,88.941840,4027,0.101682,2018,Paid,Tablet,Asia,51

In [9]:
marketing_df.head(5)

,campaign_id,campaign_name,ad_spend,leads_generated,click_through_rate,impressions,source,medium,start_date,end_date,click
0,1,Campaign 1,14339,43,0.099284,41235,Direct,Organic,2024-10-09 23:44:48.755387,2024-11-10 23:44:48.767356,503
1,2,Campaign 2,16834,74,0.076791,43774,Direct,Email,2024-09-21 23:44:48.755387,2024-10-26 23:44:48.767356,538
2,3,Campaign 3,12084,242,0.140839,32090,Direct,Social,2024-10-19 23:44:48.755387,2024-11-18 23:44:48.767356,295
3,4,Campaign 4,4162,481,0.050503,37809,Social Media,Email,2024-09-20 23:44:48.755387,2024-11-12 23:44:48.767356,512
4,5,Campaign 5,9306,49,0.111663,2889,Referral,Social,2024-09-27 23:44:48.755387,2024-10-21 23:44:48.767356,173

In [10]:
sales_df.head(5)

,sales_rep_id,sales_rep_name,deals_closed,revenue_generated,average_deal_size,sales_cycle_length,new_customers,churn_rate,upsell_revenue,customer_lifetime_value,date
0,1,Rep 1,57,204383.495654,8641.729816,41,32,0.050460,7983.270058,95635.724154,2023-12-12 23:44:48.780322
1,2,Rep 2,85,324283.752222,4137.836672,16,7,0.007687,13995.444937,87576.034850,2024-06-20 23:44:48.780322
2,3,Rep 3,62,7271.074568,1221.295159,78,48,0.177941,15607.169640,75699.610427,2024-05-12 23:44:48.780322
3,4,Rep 4,48,427424.691310,13904.468989,85,31,0.159347,4556.183834,69999.743601,2024-01-14 23:44:48.780322
4,5,Rep 5,10,42666.516660,19858.375220,69,39,0.165801,18476.652873,86750.086607,2024-06-24 23:44:48.780322

In [11]:
customer_satisfaction_df.head(5)

,customer_id,satisfaction_score,net_promoter_score,feedback,support_tickets,resolution_time,repeat_purchase,last_purchase_date,customer_segment,referral_source
0,1,9,-73,Feedback 1,16,20,Yes,2024-06-24 23:44:48.791333,Mid-Market,Social Media
1,2,2,89,Feedback 2,18,14,No,2024-07-16 23:44:48.791333,Mid-Market,Word of Mouth
2,3,5,-54,Feedback 3,9,2,Yes,2024-03-21 23:44:48.791333,Enterprise,Social Media
3,4,6,44,Feedback 4,14,25,No,2024-02-08 23:44:48.791333,Small Business,Social Media
4,5,3,-27,Feedback 5,5,4,Yes,2024-09-06 23:44:48.791333,Small Business,Ads

# Data Export in Bigquery

In [13]:
#Data Export in Bigquery
from google.cloud import bigquery
from pandas_gbq import to_gbq
from google.oauth2 import service_account

In [14]:
# Load your service account credentials
credentials = service_account.Credentials.from_service_account_file(
    'F:\Analytics Engineering\dataology-company-2904a272b43d.json',
    scopes=["https://www.googleapis.com/auth/cloud-platform"]
)

#dataology_company_raw
# Pass the credentials to the BigQuery client
bq_client = bigquery.Client(credentials=credentials, project="dataology-company")

# Replace with your Google Cloud project ID
project_id = "dataology-company"

# website_df Load

In [16]:
# Replace with your BigQuery table name
table_name = "dataology_company_raw.website_df"
job_config = bigquery.LoadJobConfig()
job_config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE  # or WRITE_APPEND or WRITE_EMPTY
job = bq_client.load_table_from_dataframe(
    dataframe=website_df,
    destination=table_name,
    job_config=job_config
)
job.result()

LoadJob<project=dataology-company, location=US, id=5c749ed9-4d94-4065-a42b-7fe481dd5dec>

# marketing_df Load

In [17]:
# Replace with your BigQuery table name
table_name = "dataology_company_raw.marketing_df"
job_config = bigquery.LoadJobConfig()
job_config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE  # or WRITE_APPEND or WRITE_EMPTY
job = bq_client.load_table_from_dataframe(
    dataframe=marketing_df,
    destination=table_name,
    job_config=job_config
)
job.result()

LoadJob<project=dataology-company, location=US, id=3739a04a-d283-4fd5-94c5-e303453b0a19>

# sales_df Load

In [18]:
# Replace with your BigQuery table name
table_name = "dataology_company_raw.sales_df"
job_config = bigquery.LoadJobConfig()
job_config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE  # or WRITE_APPEND or WRITE_EMPTY
job = bq_client.load_table_from_dataframe(
    dataframe=sales_df,
    destination=table_name,
    job_config=job_config
)
job.result()

LoadJob<project=dataology-company, location=US, id=ecf91d57-1359-4145-b9c9-fce238dcb0ca>

# customer_satisfaction_df

In [19]:
# Replace with your BigQuery table name
table_name = "dataology_company_raw.customer_satisfaction_df"
job_config = bigquery.LoadJobConfig()
job_config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE  # or WRITE_APPEND or WRITE_EMPTY
job = bq_client.load_table_from_dataframe(
    dataframe=customer_satisfaction_df,
    destination=table_name,
    job_config=job_config
)
job.result()

LoadJob<project=dataology-company, location=US, id=d07eb885-24a2-4b58-8bce-cdbabe0171b5>